<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.GroupBuyDiscountMapper">

    <resultMap id="BaseResultMap" type="generator.domain.GroupBuyDiscount">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="discountId" column="discount_id" jdbcType="VARCHAR"/>
            <result property="discountName" column="discount_name" jdbcType="VARCHAR"/>
            <result property="discountDesc" column="discount_desc" jdbcType="VARCHAR"/>
            <result property="discountType" column="discount_type" jdbcType="TINYINT"/>
            <result property="marketPlan" column="market_plan" jdbcType="VARCHAR"/>
            <result property="marketExpr" column="market_expr" jdbcType="VARCHAR"/>
            <result property="tagId" column="tag_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,discount_id,discount_name,
        discount_desc,discount_type,market_plan,
        market_expr,tag_id,create_time,
        update_time
    </sql>
</mapper>
