<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.GroupBuyActivityMapper">

    <resultMap id="BaseResultMap" type="generator.domain.GroupBuyActivity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="activityId" column="activity_id" jdbcType="BIGINT"/>
            <result property="activityName" column="activity_name" jdbcType="VARCHAR"/>
            <result property="discountId" column="discount_id" jdbcType="VARCHAR"/>
            <result property="groupType" column="group_type" jdbcType="TINYINT"/>
            <result property="takeLimitCount" column="take_limit_count" jdbcType="INTEGER"/>
            <result property="target" column="target" jdbcType="INTEGER"/>
            <result property="validTime" column="valid_time" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="tagId" column="tag_id" jdbcType="VARCHAR"/>
            <result property="tagScope" column="tag_scope" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,activity_id,activity_name,
        discount_id,group_type,take_limit_count,
        target,valid_time,status,
        start_time,end_time,tag_id,
        tag_scope,create_time,update_time
    </sql>
</mapper>
